@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');

:root {
  --clr-primary--100: #fff3f5;
  --clr-primary--200: #ffe3e7;
  --clr-primary--300: #efa3a9;
  --clr-primary--900: #ff125f;
  --clr-neutral--100: #fafafa;
  --clr-neutral--300: #3a3a3a;
  --clr-neutral--900: #292929;
  --clr-accent--100: #5cbab4;
  --ff-primary: 'Roboto', sans-serif;
}

/* Global settings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--clr-neutral--300);
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

/* Body */
body {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-neutral--100);
  font-family: var(--ff-primary);
  position: relative;
}

/* Header */
.header {
  width: 100%;
  background-color: var(--clr-neutral--900);
  position: fixed;
  z-index: 999;
  /* needed unfix the position, as it was covering contact form - Joanna */
}

.navbar {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* positions added for absolute position of navbar__components - Sejung */
  position: relative;
}

/* Navbar toggler hidden for big screens - Sejung */

.navbar__toggler {
  display: none;
}

.navbar__components {
  display: flex;
  align-items: center;
}

.navbar__item {
  font-size: 1.8rem;
  color: var(--clr-primary--100);
}

.navbar__item a {
  font-weight: 900;
  color: var(--clr-primary--100);
}

.navbar__item:hover {
  color: var(--clr-neutral--900);
  text-decoration: underline;
}

.navbar__item a:hover {
  color: var(--clr-primary--100);
  text-decoration: underline;
}

.navbar__item:not(:first-child) {
  margin-left: 2em;
}

/* Main */
.main {
  width: 100%;
  /* max-width: 120rem; */
  margin: 0 auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.main__content {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Index.html Content */
.hero {
  width: 100%;
  display: flex;
  height: calc(100vh - 8rem);
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(31, 31, 31);
  background-image: linear-gradient(14deg,
      rgba(236, 230, 236, 0.377) 0%,
      rgba(247, 229, 238, 0.356) 6%,
      rgba(248, 158, 213, 0.5) 100%),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 0 2em;
}

.hero__content {
  background-color: #292929d8;
  color: var(--clr-neutral--100);
  padding: 3em;
  font-size: 1.7rem;
  border-radius: 0.5em;
  max-width: 45rem;
  text-align: center;
  margin-top: 20vh;
  position: absolute;
  left: 17%;
  top: 6%;
}



.hero__link,
.contact__link {
  padding-top: 2em;
}


.hero__link--btn,
.hero__main--btn,
.contact__link--btn,
.result__content--btn,
.results__reset {
  padding: 0.5em 2em;
  border-radius: 0.4em;
  background-color: var(--clr-primary--300);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--clr-neutral--900);
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

.hero__link--btn,
.contact__link--btn {
  background-color: #35c0b7;
  color: var(--clr-neutral--100);
}

.hero__link--btn {
  margin-right: 0.5em
}

.hero__main--btn {
  /* background-color: #f5d4d6; */
  background-color: #30a59d;
  margin-left: 0.5em;
  color: white;
}

.hero__link--btn,
.hero__main--btn {
  width: 15rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

.result__content--btn:hover,
.results__reset:hover {
  background-color: var(--clr-primary--200);
  color: var(--clr-neutral--900);
}

.hero__link--btn:hover,
.hero__main--btn:hover,
.contact__link--btn:hover {
  background-color: #74ece4;
  color: var(--clr-neutral--900);
}

.bg {
  background-image: url('../images/bg2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.description,
.incentive,
.range {
  display: flex;
  flex-direction: column;
}

.description {
  padding-top: 3em;
}


.description__container,
.incentive__container,
.range__container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__container {
  padding-top: 5em;
}

.description__content {
  width: 50%;
  text-align: center;
  background-color: #5cbab4a6;
  border-radius: 0.5em;
  color: rgb(47, 47, 47);
  padding: 2em;
}

.description__content--title,
.incentive__content--title,
.range__content--title,
.contact__content--title {
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 0.6em;
  font-weight: 700;
}

.description__content--text,
.incentive__content--text,
.range__content--text,
.contact__content--text {
  font-size: 1.7rem;
  margin-bottom: 0.6em;
}

.description__content--accent {
  font-style: italic;
  margin-left: 2em;
  font-size: 1.7rem;
  line-height: 1.5rem;
  margin-bottom: 0.3em;
  color: var(--clr-primary--900);
}

.description__content--last {
  margin-bottom: 0.9em;
}

.description__image,
.incentive__image,
.range__image {
  width: 50%;
}

.range__image {
  width: 45%;
}



/* Incentive */
.incentive__content,
.range__content {
  width: 50%;
  background-color: #5cbab4a6;
  border-radius: 0.5em;
  color: rgb(47, 47, 47);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.incentive__content--text,
.range__content--text {
  width: 80%;
  text-align: center;
}

.contact {
  width: 100%;
  background-color: #474747;
}

.contact__container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 2em 6em 2em;
}

.contact__content {
  width: 50%;
  text-align: center;
  color: var(--clr-neutral--100);
}


/* Please do not change the code above
Juliia*/

/* ----- Quiz ----- */

#quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#quiz-header {
  background-color: #464646;
  border-radius: 0.4em;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

#quiz-title {
  color: white;
  padding: 0.5em;
  font-size: 3rem;
  letter-spacing: 0.05rem;
  text-align: center;
  align-self: center;
  justify-self: center;
  font-weight: 900;
}

#start-button,
.answer-button {
  padding: 0.5em 2em;
  border-radius: 0.4em;
  background-color: var(--clr-primary--300);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--clr-neutral--300);
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  background-color: #30a59d;
  color: white;
  margin: 1rem;
  width: 300px;
}

#start-button:hover,
.answer-button:hover {
  background-color: var(--clr-primary--300);
  color: var(--clr-neutral--100);
}

#quiz-content {
  background-color: #464646;
  padding: 2rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#question-text {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

#quiz-answers {
  display: flex;
  flex-direction: column;
}

/* Please do not change the code below
Juliia*/


/* suggestions */
.results__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral--900);
  padding: 0 2em;
  width: 100%;
}

.results__header {
  border-radius: 0.4em;
  width: 100%;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results__title {
  text-transform: capitalize;
  color: white;
  padding-bottom: 0.6em;
  font-size: 3rem;
  letter-spacing: 0.05rem;
  text-align: center;
  align-self: center;
  justify-self: center;
  font-weight: 900;
}

.results__reset {
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
}

.results__content {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-flow: dense;
  gap: 1rem;
}

.result__content {
  padding: 0 1em 1em 1em;
  background-color: #464646;
  color: var(--clr-primary--100);
  border-radius: 0.5em;
  cursor: pointer;
  display: grid;
  grid-template-rows: 0.6fr 1.7fr 0.5fr;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

.result__content:hover {
  background-color: var(--clr-accent--100);
  color: var(--clr-neutral--900);
}

.result__content--title {
  text-transform: capitalize;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.result__content--image {
  border-radius: 0.5em;
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
  padding: 0.3em;
}

.result__content--image img {
  border-radius: 0.45em;
}

.result__content--modal {
  text-align: center;
  align-self: center;
  justify-self: center;
}

.result__content--modal:hover {
  background-color: #464646;
  color: var(--clr-neutral--100);
}

/* Modal */
.modal__container {
  background-image: url('../images/modal_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: none;
  background-color: var(--clr-neutral--100);
  flex: 1 0 auto;
  position: fixed;
  top: 8.6rem;
  left: 0;
  right: 0;
  z-index: 999;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;
  width: 100%;
}

.modal__main {
  min-height: 100vh;
  max-width: 120rem;
  padding: 2em;
  margin: 0 auto;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 2rem;
  overflow-y: initial !important
}

.modal__btn {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
}

.modal__close {
  color: var(--clr-neutral--300);
  background-color: #464646;
  text-align: center;
  font-weight: 700;
  padding: 0.5em 0;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 20vw;
  max-width: 15rem;
  border-radius: 0.3em;
  font-size: 1.7rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 27px 0px #360c1a7b;
  -moz-box-shadow: 0px 2px 27px 0px #360c1a7b;
  box-shadow: 0px 2px 27px 0px #360c1a7b;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow__back {
  transform: rotate(90deg);
  width: 0.8rem;
  margin-right: 1.5em;
}

.btn__back--text {
  color: var(--clr-primary--100);
}

.modal__close:hover {
  background-color: #6b6b6b;
  color: var(--clr-neutral--900);
}

.modal__content {
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: start;
  justify-self: center;
  background-color: #fbfbfb;
  display: flex;
  max-width: 90%;
  border-radius: 0.5em;
  margin-bottom: 10vh;
  -webkit-box-shadow: 0px 2px 27px 0px #360c1a80;
  -moz-box-shadow: 0px 2px 27px 0px #360c1a80;
  box-shadow: 0px 2px 27px 0px #360c1a80;
}

.modal__content--image {
  width: 50%;
  height: inherit;
}

.modal__content--image img {
  all: unset;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  max-width: 100%;
  display: block;
  height: 100%;
}

.modal__content--text {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  width: 50%;
  padding: 2em;
  background-color: #fbfbfb;
  color: var(--clr-neutral--900);
  font-size: 1.7rem;
}

.modal__content--title {
  text-transform: capitalize;
  font-size: 2rem;
  padding-bottom: 1em;
  color: var(--clr-neutral--900);
}

.modal__content--description {
  padding-bottom: 1em;
}

.modal__content--websites,
.modal__content--price-title {
  color: var(--clr-primary--900);
  padding-bottom: 0.2em;
  color: var(--clr-neutral--900);
}

.modal__content--links {
  padding: 0 0 1em 1em;
  display: flex;
  flex-direction: column;
}

.modal__content--link {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.modal__content--link a:hover {
  color: var(--clr-primary--900);
}

.modal__content--link img {
  margin-top: 0.15em;
  margin-right: 0.5em;
}

.modal__content--price div {
  padding-left: 1em;
}



/* Footer */
.footer {
  width: 100%;
  background-color: var(--clr-primary--300);
  margin: 0 auto;
  background-color: var(--clr-neutral--900);
  /* z-index: 999;
  position: absolute;
  bottom: 0; */
}

.footer__content {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
  padding: 4em 2em;
  color: var(--clr-primary--100)
}

.collaborators{
  display: flex;
  /* put media queries for small devices+add margin-bottoms for collaborators item"
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  .collaborators__item:not(:last-child){
  margin-right:0;
  margin-bottom: 2em;
}
  */
  width: 100%;
  justify-content: space-between;
}

.collaborators__item{
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.collaborators__item:not(:last-child){
  margin-right: 2em;
}

.collaborators__item--links{
  width: 100%;
  display: flex;
  justify-content: center;
}

.collaborators__item--links a{
  color:white;
  font-size:2rem;
  margin:0;
  padding:0;
}

.collaborators__item--links a:hover{
  color: var(--clr-accent--100);
}

.collaborators__item--links a:first-child{
  margin-right:0.2em;
}

.collaborators__item--links a:last-child{
  margin-left:0.2em;
}

.collaborators__item--name{
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content:center;
}

.hide {
  display: none !important;
}

@media all and (max-width: 1050px) {

  .results__title {
    padding-bottom: 0.7em;
    font-size: 2rem;
    font-weight: 600;
  }

  .results__reset {
    font-size: 1.2rem;
    padding: 0.3em 1em;
  }

  .modal__close {
    min-width: 17rem;
  }

  .modal__content--text {
    font-size: 1.5rem;
    padding: 1em 1em 1em 1.5em;
  }

  .modal__content--title {
    font-size: 1.7rem;
    padding-bottom: 0.6em;
  }

  .modal__content--description {
    padding-bottom: 0.5em;
  }

  .modal__content--links {
    padding: 0 0 0.4em 1em;
  }
}

/* For Navigation - Sejung */
@media screen and (max-width: 768px) {

  .navbar__components {
    background-color: var(--clr-neutral--900);
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 2rem;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
  }

  .navbar__components.active {
    transform: scale(1, 1);
  }

  .navbar__item {
    opacity: 0;
    margin: 1rem;
  }

  .navbar__item:not(:first-child) {
    margin-left: 1rem;
  }

  .navbar__item.visible {
    opacity: 1;
    transition: opacity 500ms ease-in 500ms;
  }

  .navbar__toggler {
    width: 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
  }

  .navbar__open,
  .navbar__close {
    position: absolute;
    opacity: 0;
  }

  .navbar__open.active,
  .navbar__close.active {
    opacity: 1;
  }

  .navbar__open path,
  .navbar__close path {
    fill: var(--clr-primary--100);
  }

  /* Modal */
  .modal__main {
    grid-template-rows: 0.1fr 2fr;
  }

  .modal__btn {
    justify-self: center;
  }

  .modal__content {
    flex-direction: column;
    max-width: 90%;
  }

  .modal__content--image {
    margin: auto;
    padding-top: 1.5em;
  }

  .modal__content--image img {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }

  .modal__content--text {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    width: 100%;
    padding: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .modal__content {
    max-width: 100%;
  }

}