:root {
  --clr-primary--100: #ffe3e7;
  --clr-primary--300: #efa3a9;
  --clr-primary--900: #ff125f;
  --clr-neutral--100: #fafafa;
  --clr-neutral--300: #3a3a3a;
  --clr-neutral--900: #292929;
  --clr-accent--100: #5cbab4;
}

/* Global settings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul li {
  cursor: pointer;
}

a {
  text-decoration: none;
}