:root {
  --clr-primary--100: #ffe3e7;
  --clr-primary--300: #efa3a9;
  --clr-primary--900: #ff125f;
  --clr-neutral--100: #fafafa;
  --clr-neutral--300: #3a3a3a;
  --clr-neutral--900: #292929;
  --clr-accent--100: #5cbab4;
}

/* Global settings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--clr-neutral--300);
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

/* Body */
body {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-neutral--100);
}

/* Header */
.header {
  width: 100%;
  background-color: var(--clr-primary--300);
}

.navbar {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__components {
  display: flex;
  align-items: center;
}

.navbar__item {
  font-size: 1.8rem;
  color: var(--clr-neutral--300);
}

.navbar__item a {
  font-weight: 900;
}

.navbar__item:hover {
  color: var(--clr-neutral--900);
  text-decoration: underline;
}

.navbar__item a:hover {
  color: var(--clr-neutral--900);
  text-decoration: underline;
}

.navbar__item:not(:first-child) {
  margin-left: 2em;
}

/* Main */
.main {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  background-color: var(--clr-primary--100);
  display: flex;
  flex-direction: column;
}

.description__title {}

.description__text {}


/* ----- Quiz ----- */

/* suggestions */
.results__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral--900);
}

.results__title {
  text-align: center;
  padding: 4rem;
  font-size: 2.5rem;
}

.results__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-flow: dense;
  gap: 1.7rem;
}

.result__content {
  padding: 3em 1em;
  background-color: var(--clr-primary--100);
  color: var(--clr-neutral--300);

  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}

.result__content:hover {
  background-color: #fcdadd;
  color: var(--clr-neutral--900);
}

.result__content--title {
  text-transform: capitalize;
  padding-bottom: 1em;
  font-size: 2rem;

}

.result__content--image {
  max-width: 90%;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
  padding: 0.3em;
}

.result__content--image img {
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;

}

.result__content--modal {
  padding-top: 1em;
}

.result__content--modal:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  width: 100%;
  background-color: var(--clr-primary--300);
}

.footer__content {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2em;
}

.hide {
  display: none;
}